.cep {
  display: flex;
  align-items: baseline
}
.loading {
  /* display: flex; */
  /* align-items: flex-start; */
  /* visibility:hidden; */
  display:none;
}
.loading div{
  display: flex;
  align-items: flex-start;
}
p {
  color: rgb(121, 121, 121);
  font-size: larger;
  margin-right: 5px;
}
img {
  width: 30px;
}
